<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--id:自定义名称 class:类全路径-->
    <bean id="userDao" class="com.itlike.demo1.UserDaoOracleImpl">
        <!--name:属性的名称 value:赋值
            属性要提供set方法
        -->
        <property name="name" value="lk123456" />
    </bean>
    <bean id="person" class="com.itlike.demo2.Person"
          init-method="init" destroy-method="destroy"
          scope="prototype"
    >
        <property name="name" value="itlike"/>
    </bean>
<import resource="applicationContext2.xml"/>
<import resource="applicationContext3.xml"/>
</beans>